.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 100px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    footer {
        justify-content: center;
        text-align: center;
        width: 75%;
    }
}