:root {
    --font-size: 20px;
    --mbl-font-size: 18px;
}

.mobile-button {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    width: 250px;
    border-radius: 50px;
    gap: 15px;
    -webkit-box-shadow: 10px 16px 26px 3px rgba(0,0,0,0.65); 
    box-shadow: 10px 16px 26px 3px rgba(0,0,0,0.65);
}
.mobile-button:hover {
    background-color: var(--secondary);
}

.mobile-button p {
    color: black;
    font-size: var(--mbl-font-size);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}