.navbar {
    height: 80px;
    padding: 0 4rem;
    width: 100%;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
}

.navbar * {
    transition: ease-in-out 0.3s;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-container a {
    text-decoration: none;
}

.logo {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--text-color);
}

.links {
    display: flex;
    gap: 2rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.nav-link {
    padding: 0.5rem 0.75rem;
    color: var(--text-color);
    border-radius: 0.5rem;
}

.nav-link:hover {
    color: var(--emerald-300);
}

.resume-link {
    color: black;
    background-color: var(--emerald-300);
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-weight: 500;
}

.resume-link:hover {
    border-radius: 1.25rem;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

.drawer-header {
    display: none;
}

.mobile-link, .mobile-resume-link {
    display: none;
}

@media screen and (max-width: 768px) {
    .links {
        display: none;
    }

    .navbar {
        height: 60px;
        padding: 0 1.5rem;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .logo {
        font-size: 1.75rem;
        line-height: 1;
    }

    .mobile-menu-icon {
        display: block;
        color: var(--text-color);
        height: 100%;
        display: flex;
        align-items: center;
    }

    /* Overlay */
    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.25);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;
        z-index: 9998;
    }

    .overlay.active {
        opacity: 1;
        pointer-events: all;
    }

    /* Drawer */
    .mobile-drawer {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 280px;
        backdrop-filter: blur(30px);
        background: rgba(24, 27, 43, 0.6);
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
        transform: translateX(100%);
        transition: transform 0.35s ease-in-out;
        z-index: 9999;
    }

    .mobile-drawer.open {
        transform: translateX(0);
    }

    .drawer-header {
        display: flex;
        justify-content: flex-end;
    }

    .mobile-link {
        display: block;
        font-size: 1.25rem;
        color: var(--text-color);
        text-decoration: none;
    }

    .mobile-link:hover {
        color: var(--emerald-300);
    }

    .mobile-resume-link {
        display: block;
        background-color: var(--emerald-300);
        padding: 0.75rem;
        border-radius: 0.75rem;
        color: black;
        text-align: center;
        text-decoration: none;
    }
}