.project-cards {
    width: 40vh;
    padding: 3vh;
    background-color: var(--bg-color-2);
    border-radius: 3vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.position-cards {
    width: 40vh;
    padding: 3vh;
    border-radius: 3vh;
    background-color: var(--bg-color-2);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.proj-link-card {
    text-decoration: none;
    color: white;
}

.position-cards h2 {
    padding-bottom: 1vh;
}

.position-links { 
    text-decoration: none;
    text-align: center; 
}

.project-cards:hover,
.position-cards:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.title,
.proj-title {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.desc {
    font-size: var(--mbl-proj-desc-size);
}

.desc .tools {
    text-decoration: none;
    color: var(--emerald-300);
    font-weight: 500;
    font-size: var(--mbl-proj-tools-size);
}
