.cards-container {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 0.25fr);
    margin-top: 8vh;
    padding: 0 2vh;
    gap: 3vh;
}

.mbl-navbar-container {
    display: none;
}

.mock-website,
.website {
    text-decoration: none;
    color: var(--orange-500);
    font-weight: 600;
    font-size: var(--proj-tools-size);
}

.mock-website:hover {
    font-size: calc(var(--proj-tools-size) + 0.5px);
}

h2 {
    margin-top: 3rem;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .cards-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2.5vh;
        margin-bottom: 7vh;
        margin-top: 5vh;
    }

    .navbar-container {
        display: none;
    }

    .mbl-navbar-container {
        display: inline-block;
    }
}
