.main-copy {
    font-size: calc(var(--font-size) - 1px);
    text-align: center;
    margin-top: calc(var(--font-size) - 5px);
}

.rlm-page-body {
    padding: 10px 40px;
}

@media only screen and (max-width: 768px) {
    .main-copy {
        font-size: calc(var(--mbl-font-size) - 1px);
    }

    .rlm-page-body {
        padding: 10px 20px;
    }
}