:root {
  --orange-500: #f97316;
  --emerald-300: #41ffb3;
  --text-color: white;
  --bg-color: #181b2b;
  --bg-color-2: #0f111b;
  --orange-500: #f97316;
  --font-size: 20px;
  --mbl-font-size: 18px;

  /* project cards */
  --proj-title-size: calc(var(--font-size) + 2px);
  --proj-desc-size: calc(var(--font-size) - 2px);
  --proj-tools-size: calc(var(--font-size) + 0.5px);
  --mbl-proj-title-size: calc(var(--mbl-font-size) + 2px);
  --mbl-proj-desc-size: calc(var(--mbl-font-size) - 2px);
  --mbl-proj-tools-size: calc(var(--mbl-font-size) + 0.5px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
  transition: 0.2s ease-in-out;
}

body {
  background-color: var(--bg-color);
  color: white;
}
