@import "../lib/styles/navbar.css";
@import "../lib/styles/homepage.css";
@import "../lib/styles/footer.css";
@import "../lib/styles/hero.css";
@import "../lib/styles/aboutme.css";
@import "../lib/styles/abouttext.css";
@import "../lib/styles/linkbutton.css";
@import "../lib/styles/grid.css";
@import "../lib/styles/personalprojectcards.css";
@import "../lib/styles/positioncard.css";
@import "../lib/styles/experiencepage.css";
@import "../lib/styles/loadmoregrid.css";

:root {
  --orange-500: #f97316;
  --primary: #41ffb3;
  --secondary: #02a564;
  --text-color: white;
  --bg-color: #181b2b;

  /* project cards */
  --proj-title-size: calc(var(--font-size) + 2px);
  --proj-desc-size: calc(var(--font-size) - 2px);
  --proj-tools-size: calc(var(--font-size) + 0.5px);
  --mbl-proj-title-size: calc(var(--mbl-font-size) + 2px);
  --mbl-proj-desc-size: calc(var(--mbl-font-size) - 2px);
  --mbl-proj-tools-size: calc(var(--mbl-font-size) + 0.5px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
  transition: 0.2s ease-in-out;
}

body {
  background-color: var(--bg-color);
  color: white;
}

.icons-container {
    display: flex;
    gap: 30px;
    align-items: center;
}