/* Desktop */
.homepage-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.hero-menu-container {
    z-index: 888;
}

.about-me {
    z-index: 9999;
}

.homepage-mobile {
    display: none;
}

/* Mobile & Tablets */
@media screen and (max-width: 1024px) {
    .homepage-desktop {
        display: none;
    }
    
    .homepage-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px;
        margin-top: 40px;
    }
}