:root {
    --img-dims: 30px;
    --img-padding: calc(var(--img-dims) / 2)
}

.homepage-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8vh 7vh 0 7vh;
    gap: 20vh;
}

.words {
    width: 60vh;
    font-size: var(--font-size);
}

.extras,
.intro-to-projs,
.right-now,
.photo {
    margin-top: 1.5rem;
}

.keywords {
    font-size: var(--proj-tools-size);
    font-weight: 600;
    color: var(--orange-500);
}

.profile-card,
.homepage-mobile,
.mobile-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    border-radius: 50%;
    margin-bottom: 2vh;
}

.homepage-mobile {
    display: none;
    font-weight: 600;
}

.internship {
    text-decoration: none;
    color: var(--orange-500);
    font-weight: 600;
    font-size: var(--proj-tools-size);
}

.internship:hover {
    font-size: calc(var(--proj-tools-size) + 0.5px);
}

@media only screen and (max-width: 768px) {
    /* If mobile view, change to mobile layout */
    .homepage-desktop {
        display: none;
    }

    .homepage-mobile {
        display: block;
        width: 100%;
    }

    .profile-card-mbl {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-card-mbl h2 {
        font-size: 30px;
    }

    .profile-card-mbl p {
        font-size: 17px;
    }

    .mobile-buttons {
        margin-top: 3rem;
        gap: 3rem;
    }

    .link-buttons img {
        height: var(--img-dims);
        width: var(--img-dims);
        margin-right: var(--img-padding);
    }

    .link-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--img-padding);
        width: 15rem;
        border-radius: 5vh;
        font-size: var(--font-size);
        text-decoration: none;
        color: black;
        background-color: var(--emerald-300);
    }

    .navbar-container {
        display: none;
    }
}
