.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8vh 7vh 0 7vh;
    gap: 20vh;
}

.words {
    width: 60vh;
    font-size: var(--font-size);
}

.extras,
.intro-to-proj,
.right-now {
    margin-top: 1.5rem;
}

.keywords {
    font-size: var(--proj-tools-size);
    font-weight: 600;
    color: var(--orange-500);
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    border-radius: 50%;
    margin-bottom: 2vh;
}

.mobile-tabs,
.mobile-mode {
    display: none;
}

@media only screen and (max-width: 768px) {
    .homepage {
        display: block;
    }

    .words {
        width: 100%;
    }

    .profile-picture,
    .desktop-mode {
        display: none;
    }
    
    .mobile-mode {
        display: inline-block;
    }

    .mobile-tabs {
        display: block;
        display: flex;
        justify-content: center;
        margin: 8vh 2vh;
        gap: 3vh;
    }

    .mobile-tabs a {
        text-decoration: none;
        background-color: var(--emerald-300);
        color: black;
        padding: 1vh 5vh;
        border-radius: 3vh;
        font-size: var(--proj-title-size);
    }
}
